@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --greyColor: #797979;
    --mainColor: #2bc055;
}

* {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

.wrapper {
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

.title {
    font-weight: 700;
    color: #797979;
    text-align: center;
    font-size: 38px;
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.main__button {
    margin-top: 50px;
    text-align: center;
}

.main__button a {
    display: inline-block;
    border: 2px solid var(--mainColor);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--mainColor);
    font-weight: 600;
}

/* HEADER */

.header {
    background: #fff;
    border-bottom: 1px solid rgba(225, 230, 234, 0.75);
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__buttons a {
    background: var(--mainColor);
    padding: 7px 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 15px;
}

/* HOME SECTION */

.home__section {
    background: url(../img/first-bg.png) center center no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
    margin-top: 70px;
}

.home__title {
    font-size: 48px;
    font-weight: 700;
    color: #797979;
    line-height: 1.5em;
}

.home__container {
    width: 75%;
}

.home__buttons {
    margin-top: 40px;
}

.home__buttons a {
    display: inline-block;
    background: var(--mainColor);
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    margin-right: 10px;
}

/* HOW WORKS SECTION */

.how-work__section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.how-work__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
}

.how-work__items {
    text-align: center;
    width: 23%;
}

.how-work__items img {
    width: 120px;
}

.how-work__items span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #2c3e50;
    display: block;
    text-align: center;
    padding-top: 10px;
}

/* FIND SECTION */

.find__section {
    background: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.find__flex {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.find__items {
    display: block;
    position: relative;
    background: #FFF;
    border: 1px solid #efefef;
    box-shadow: 0px 2px 1px 0px #efefef;
    border-radius: 0;
    padding: 30px;
    width: 32%;
    text-align: center;
}

.find__items_img img {
    width: 100px;
    border-radius: 100%;
}

.find__items_name {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #2c3e50;
}

.find__items_job {
    color: #6c75a7;
    font-size: 16px;
    line-height: 19px;
}

.find__items_stars {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 13px;
}

.find__items_stars img {
    margin-right: 2px;
}

.find__items_experience {
    font-size: 14px;
    color: #2c3e50;
}

.find__items_body {
    text-align: center;
    padding-top: 15px;
}

/* BROWSE SECTION */

.job__section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.job__list {
    border: 1px solid #dbdbdb;
    margin-top: 30px;
}

.job__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #2c3e50;
}

.job__list li:last-child {
    border-bottom: none;
}

.job__list_position {
    width: 53%;
}

.job__list_date {
    width: 17%;
}

.job__list_price {
    font-weight: 700;
    width: 17%;
}

.job__list_details {
    display: inline-block;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 700;
    color: #666f78;
    line-height: 1em;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

/* CATEGORY SECTION */

.category__section {
    background: #f9f9f9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.category__flex {
    background: #fff;
    border: 1px solid var(--greyColor);
    display: flex;
    flex-wrap: wrap;
}

.category__item {
    text-align: center;
    display: block;
    width: 25%;
    border: 1px solid var(--greyColor);
    color: var(--greyColor);
    padding: 15px;
}

.category__item_name {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    padding-bottom: 15px;
}

.category__item_name::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background: var(--greyColor);
    left: 50%;
    transform: translate(-50%);
    bottom: 7px;
}

.category__section .title {
    padding-bottom: 30px;
}

.title__white {
    color: #fff;
}

/* STARTED SECTION */

.started__section {
    padding: 50px 0px;
}

.started__button {
    display: inline-block;
    background: var(--mainColor);
    padding: 12px 25px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
}

.started__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.started__title {
    font-size: 36px;
    font-weight: 300;
    color: var(--greyColor)
}

/* FOOTER */

.footer__section {
    background: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.footer__container a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 8px;
}

.footer__container a:not(:last-child)::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background: #fff;
    right: -3px;
    top: 7px;
}

/*- LOGIN PAGE -*/

.login__page {
    background: #f9f9f9;
    position: relative;
    height: 100vh;
}

.login__container {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 1px 1px 0px rgba(185, 184, 184, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.login__title {
    font-size: 26px;
    font-weight: 600;
    color: #2c3e50;
    text-align: center;
    padding-bottom: 20px;
}

.form__input input {
    padding: 12px 15px;
    width: 100%;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    color: #415161;
    line-height: normal;
    margin-top: 15px;
}

.form__input__button input {
    background: var(--mainColor);
    border: 1px solid var(--mainColor);
    width: 100%;
    padding: 12px 15px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

/*- SIGN UP PAGE -*/

.signup__page {
    background: #f9f9f9;
    position: relative;
    height: 100vh;
}

.signup__container {
    width: 100%;
    max-width: 700px;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 1px 1px 0px rgba(185, 184, 184, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.signup__as {
    font-size: 20px;
    font-weight: 600;
    color: #415161;
}

.signup_description {
    font-size: 16px;
    color: #415161;
    line-height: 1.6em;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 78%;
    margin: 0 auto;
}

.signup__button {
    display: inline-block;
    background: var(--mainColor);
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
}

.signup__items {
    width: 49%;
    text-align: center;
    position: relative;
}

.signup__flex .signup__items:nth-child(1)::before {
    content: ' ';
    position: absolute;
    background: var(--greyColor);
    width: 1px;
    height: 100px;
    right: -6px;
    top: 10px;
}

/*- TERMS PAGE -*/

.terms__body {
    margin-top: 70px;
    color: var(--greyColor);
}

.terms__body h1 {
    font-size: 43px;
    font-weight: 500;
    padding-top: 35px;
    padding-bottom: 30px;
}

.terms__body h2 {
    font-size: 27px;
    font-weight: 500;
    padding-bottom: 15px;
}

.terms__body p {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 15px;
}

/*- POST PAGE -*/

.post__page {
    background: #f9f9f9;
}

.post__page .wrapper {
    background: #f9f9f9;
}

.post__container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #dbdbdb;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.post__title {
    font-size: 25px;
    font-weight: 600;
    color: #2c3e50;
    padding-bottom: 15px;
}

.post__form {
    font-weight: 500;
    color: #2c3e50;
}

.post__form_inputs {
    padding-top: 15px;
}

.post__form label {
    display: block;
    font-size: 18px;
}

.post__form input {
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 10px 12px;
    border-radius: 10px;
    margin-top: 15px;
}

.post__form textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: 10px 12px;
    border-radius: 10px;
    margin-top: 15px;
}

.post__form_button input {
    display: inline-block;
    background: var(--mainColor);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 15px 25px;
    border: 1px solid var(--mainColor);
}
